.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
*.class
*.iml
*.swp
*.jar
*.log
.DS_Store
node_modules
build-target
atlassian-ide-plugin.xml
out/
/docs/api
/docs/content
/docs/.bundle
/docs/.rubydeps
/docs/ruby2/.bundle
/docs/ruby2/.rubydeps
/docs/.jekyll-metadata
*.ipr
*.iws
tools/flink
tools/flink-*
*.dat
resource/tpcds/datagen/data

